*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.5em;
}

.div{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.d1{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    height: 20%;
    width: 20%;
    cursor: pointer;
}

#inp{
    width: 100vw;
    border: 5px solid darkblue;
    font-size: 3em;
}