*{
    margin: 0em;
    padding: 0em;
    
}
html{
    scroll-behavior: smooth;
}
/*css variables*/
:root{
    --navbar-height: 3.6875em;
}

/*Navigation Bar*/
.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0em;
}
.navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0em;
    left: 0em;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/*Navigation Bar: Logo and Image*/
.logo{
    margin: 0.625em  2.125em;
}
.logo img{
    height: 3.6875em;
    margin: 0.1875em 0.375em;
}
/*Navigation Bar: List Styling */

.navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
/* Psudeo selector before and after */

.navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}
.navbar ul li a {
    color: white;
    display: block;
    padding:  0.1875em 1.375em;
    border-radius: 1.25em;
    text-decoration: none;
 }
 .navbar ul li a:hover {
    color: black;
    background-color: white;
    cursor: pointer;
 }

 /* Home section */
 #home{
     display: flex;
     flex-direction: column;
     padding:  0.1875em 12.5em;
     height: 34.375em;
     justify-content: center;
     align-items: center;
 }

 #home::before{
    content: "";
    background: url(diet.jpg) no-repeat center center/cover;
    position: absolute;
    height: 40.125em;
    top: 0em;
    left: 0em;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
 }

 #home h1{
     color: white;
     text-align: center;
     font-family: 'Baloo Bhai 2', cursive;
 }

 #home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}
/* servicessection */
#services{
    margin: 2.125em;
    display: flex;
}

#services .box{
    border: 0.125em solid brown;
    padding: 2.125em;
    margin: 1.5625em 1.5625em;
    border-radius: 1.75em;
    background-color: #f2f2f2;
    margin-bottom: 1.25em;
}
#services .box img{
    height: 10em;
    margin: auto;
    display: block;

}
#services .box p{
    font-family: 'Baloo Bhai 2', cursive;
}


/* client section */
#client-section h1{    
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}
#client-section{
    position: relative;
}
#client-section{
    content: " ";
    /* position: absolute; */
    background: url(back.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: 0.4; */
}
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 2.125em;
}
.client-item img{
    height: 7.75em;
}
/* contact-secction */
#contact{
    position: relative;
}
#contact{
    content: "";
    /* position: absolute; */
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(contact.png) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.125em;
}
#contact-box form{
    width: 40%;
}
#contact-box form{
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5625em;
    font-size: 1.1rem;
}

footer{
    background: black;
    color:white;
    padding: 0.5625em 1.25em;
}
 /* untility classes */
 .h-primary{
    font-family: 'Baloo Bhai 2', cursive;
     font-size: 3.8rem;
     padding: 0.75em;
 }
 .h-secondary{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.3rem;
    padding: 0.75em;
}
 .btn{
     padding: 0.375em 1.25em;
     border: 0.125em solid white;
     background-color: brown;
     color: white;
     margin: 1.0625em;
     font-size: 1.5rem;
     border-radius: 0.625em;
     cursor: pointer;
 }

 .center{
     text-align: center;
 }